<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Daybook - 로그인</title>
    {% include 'static/bootstrap.html' %}
    <link href="/static/css/login.css" rel="stylesheet">
</head>
<body>
<div class="site-wrapper">
    <div class="site-wrapper-inner">
        <div class="cover-container">
            <div class="masthead clearfix">
                <div class="inner">
                    <h3 class="masthead-brand"><a href="/">Daybook</a></h3>
                    <ul class="nav masthead-nav">
                        <li><a href="/">처음으로</a></li>
                        <li class="active"><a href="/login">로그인</a></li>
                        <li><a href="/register">회원가입</a></li>
                    </ul>
                </div>
            </div>
            <div class="inner cover">
                <form class="form-login" role="form" method="post" action="/login/">
                    {% csrf_token %}
                    <input type="text" name="username" class="form-control" placeholder="사용자이름" required autofocus>
                    <input type="password" name="password" class="form-control" placeholder="비밀번호" required>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">로그인</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>